Facebook Data Pull —Xlerate.json
{
  "name": "Facebook Data Pull —Xlerate",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// الوقت الحالي بتوقيت القاهرة\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'Africa/Cairo' }));\nconst yesterday = new Date(now);\nyesterday.setDate(now.getDate() - 1);\n\n// أول يوم في الشهر\nconst startOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\n\n// تنسيق التاريخ: yyyy-mm-dd\nfunction formatDate(d) {\n  const day = String(d.getDate()).padStart(2, '0');\n  const month = String(d.getMonth() + 1).padStart(2, '0');\n  const year = d.getFullYear();\n  return `${year}-${month}-${day}`;\n}\n\n// تنسيق الوقت: h:mm AM/PM\nfunction formatTime(d) {\n  let hours = d.getHours();\n  const minutes = String(d.getMinutes()).padStart(2, '0');\n  const ampm = hours >= 12 ? 'PM' : 'AM';\n\n  hours = hours % 12;\n  if (hours === 0) hours = 12;\n\n  return `${hours}:${minutes} ${ampm}`;\n}\n\n// nowFormatted بالشكل النهائي: \"2025-08-03   9:22 PM\"\nconst nowFormatted = formatDate(now) + '   ' + formatTime(now);\n\nreturn [\n  {\n    json: {\n      nowFormatted,                         // \"2025-08-03   9:22 PM\"\n      today: formatDate(now),              // \"2025-08-03\"\n      yesterday: formatDate(yesterday),    // \"2025-08-02\"\n      startOfMonth: formatDate(startOfMonth) // \"2025-08-01\"\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        1216
      ],
      "id": "255902ad-b21a-4c8e-b074-6a97b20da37d",
      "name": "Code"
    },
    {
      "parameters": {
        "hostUrl": "=graph.facebook.com",
        "graphApiVersion": "v22.0",
        "node": "={{ $json['Account ID'] }}",
        "edge": "insights",
        "options": {
          "fields": {
            "field": [
              {
                "name": "spend,date_start,date_stop,account_id,account_name"
              }
            ]
          },
          "queryParameters": {
            "parameter": [
              {
                "name": "time_range[since]",
                "value": "={{ $('Code').item.json.yesterday }}"
              },
              {
                "name": "time_range[until]",
                "value": "={{ $('Code').item.json.yesterday }}"
              }
            ]
          },
          "queryParametersJson": "{\n  \"time_increment\": \"1\",\n  \"level\": \"account\"\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        48,
        1440
      ],
      "id": "7db2b7be-90ee-40e2-9c48-48f5cc0f1466",
      "name": "Get Daily Spend",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "x0GIizNGjoBNjkuZ",
          "name": "Facebook Graph account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{ $json['Account ID'] }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "funding_source_details{display_string}"
              },
              {
                "name": "name"
              },
              {
                "name": "amount_spent"
              },
              {
                "name": "balance"
              },
              {
                "name": "account_status"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        48,
        1120
      ],
      "id": "4a63ab1f-430e-4159-a7f7-7894492b6647",
      "name": "Facebook Graph API2",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "x0GIizNGjoBNjkuZ",
          "name": "Facebook Graph account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{ $json['Account ID'] }}",
        "edge": "insights",
        "options": {
          "fields": {
            "field": [
              {
                "name": "spend,date_start,date_stop,account_id,account_name"
              }
            ]
          },
          "queryParameters": {
            "parameter": [
              {
                "name": "time_range[since]",
                "value": "={{ $('Code').item.json.startOfMonth }}"
              },
              {
                "name": "time_range[until]",
                "value": "={{ $('Code').item.json.today }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        64,
        1280
      ],
      "id": "4e263b3a-657e-4716-a482-1d3fdfb8cd66",
      "name": "Month3",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "facebookGraphApi": {
          "id": "x0GIizNGjoBNjkuZ",
          "name": "Facebook Graph account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Flatten Facebook API output\n * - يتعامل مع items[].json.data[]\n * - يفلتر أي صف ناقص spend أو account_name\n * - يضيف rowIndex يبدأ من 2\n */\n\nlet row = 2;\nconst out = [];\n\nfor (const item of items) {\n  const arr = item.json?.data;\n  if (!Array.isArray(arr) || arr.length === 0) continue;\n\n  for (const d of arr) {\n    if (!d.spend || !d.account_name) continue; // تجاهل الصفوف الناقصة\n\n    out.push({\n      json: {\n        account_name: d.account_name,\n        account_id: d.account_id || null,\n        spend: Number(d.spend) || 0,\n        date_start: d.date_start || null,\n        date_stop: d.date_stop || null,\n        rowIndex: row++\n      }\n    });\n  }\n}\n\nreturn out;;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        1280
      ],
      "id": "968d9833-6d37-42f8-b93c-b996646bb6dd",
      "name": "Code11"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const status = String(item.json.account_status).trim();\n\n  item.json.Status = status === \"1\" ? \"Active\" : \"Inactive\";\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1120
      ],
      "id": "0561040f-898a-43f2-8ae2-e77155ba473d",
      "name": "Code13"
    },
    {
      "parameters": {
        "content": "Xlerate ",
        "height": 112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        1232
      ],
      "typeVersion": 1,
      "id": "ff2691bb-8032-46aa-b1e3-31deb7fe93eb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const row = item.json;\n\n  // عدل على الأعمدة حسب اسم الشيت بتاعك\n  return row[\"Account name \"] || row[\"Account ID\"] || row[\"Available funds\"] || row[\"Date\"] || row[\"Status\"];\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        1216
      ],
      "id": "62e3b36f-c274-4235-80fc-712835ea9352",
      "name": "Code15"
    },
    {
      "parameters": {
        "jsCode": "// جدول HTML\nlet html = `\n<p>Dear Team,</p>\n<p>Below are the ad accounts that need funding:</p>\n\n<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n  <tr>\n    <th>Account name</th>\n    <th>Account ID</th>\n    <th>Available funds</th>\n    <th>Date</th>\n    <th>Status</th>\n  </tr>\n`;\n\n// بيانات الفلاتر (أكاونتات محتاجة تمويل)\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json;\n\n  html += `\n    <tr>\n      <td>${row[\"Account name \"] || ''}</td>\n      <td>${row[\"Account ID\"] || ''}</td>\n      <td>${row[\"Available funds\"] || ''}</td>\n      <td>${row[\"Date\"] || ''}</td>\n      <td>${row[\"Status\"] || ''}</td>\n    </tr>\n  `;\n}\n\nhtml += '</table>';\n\n// الإيميلات اللي هتبعتلها\nconst emails = [\n  \"__REDACTED_EMAIL_SET_IN_CONFIG__\",\n  \"__REDACTED_EMAIL_SET_IN_CONFIG__\"\n];\n\n// نرجع HTML لكل إيميل\nreturn emails.map(email => {\n  return {\n    json: {\n      email: email,\n      html: html\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1088
      ],
      "id": "13ada20e-6c01-46ef-8e55-976be34c2404",
      "name": "code=> table1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hour = now.getUTCHours() + 3; // تعديل للـ timezone\nconst adjustedHour = (hour + 24) % 24; // عشان ما يبقاش أكبر من 23 أو أقل من 0\n\nif (adjustedHour >= 9 && adjustedHour < 12) {\n  return [{ json: { send: true } }];\n} else {\n  return [{ json: { send: false } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        1136
      ],
      "id": "ed45b142-2af1-4dca-850e-2afe18ccc144",
      "name": "Code24"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bfe0ffc-8f88-49e4-b7f2-5d599b880db9",
              "leftValue": "={{ $json.send }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        1072
      ],
      "id": "fe3088c3-aaa4-496b-ba56-8d93a9be1786",
      "name": "If3"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  let balanceStr = item.json[\"Available funds\"];\n  const threshold = parseFloat(item.json[\"if\"]);\n\n  if (!balanceStr || isNaN(threshold)) return false;\n\n  // استخراج الرقم من النص حتى لو فيه EGP وأقواس\n  const match = balanceStr.match(/EGP\\s*([\\d,]+\\.\\d{2})/);\n  if (!match) return false;\n\n  const balance = parseFloat(match[1].replace(/,/g, \"\"));\n  if (isNaN(balance)) return false;\n\n  return balance <= threshold;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1088
      ],
      "id": "2ea97e1e-6711-43c4-9cc0-04ebb7a9cd51",
      "name": "Filter4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "__REDACTED_GOOGLE_SHEET_ID__",
          "mode": "list",
          "cachedResultName": "Abdo n8n Tracking Spending Targetspro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 16730066,
          "mode": "list",
          "cachedResultName": "Xlerate ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit#gid=16730066"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1936,
        848
      ],
      "id": "452daf1f-9635-4a5e-8d7d-ae72577c5805",
      "name": "Get row(s) in sheet4.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9PUgwh80SUwrYQ0o",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "         code=>table   \nThis code generates a styled HTML table showing all ad accounts that require funding, based on filtered input data. It then sends the same table content via email to multiple recipients (__REDACTED_EMAIL_SET_IN_CONFIG__, __REDACTED_EMAIL_SET_IN_CONFIG__) ",
        "height": 240,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2496,
        1248
      ],
      "typeVersion": 1,
      "id": "8f1b61ab-a9a5-421d-8435-03aaaf11b533",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "fromEmail": "Targetspro info@targetspro.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Urgent: Ad Accounts Need Funding",
        "html": "={{ $json.html }}                                                Thank you:targetspro system",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2816,
        1088
      ],
      "id": "b7037f85-12e6-467d-a82c-3f54050b92cd",
      "name": "Send email3",
      "webhookId": "8428a0b7-e845-47a2-af7e-f78a16dab087",
      "credentials": {
        "smtp": {
          "id": "TweDsn9rC0dnr1Pd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * يفلتر العناصر الناقصة، ويضيف rowIndex، وtimestamp بتوقيت القاهرة\n * بالصيغة: YYYY-MM-DD  h:mm AM/PM\n */\n\nconst required = [\"name\", \"amount_spent\", \"balance\"];\n\nfunction formatTimestampCairo(date) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: \"Africa/Cairo\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"numeric\",\n    minute: \"2-digit\",\n    hour12: true,\n  }).formatToParts(date);\n\n  const get = type => parts.find(p => p.type === type)?.value || \"\";\n  const year = get(\"year\");\n  const month = get(\"month\");\n  const day = get(\"day\");\n  let hour = get(\"hour\");\n  const minute = get(\"minute\");\n  const dayPeriod = get(\"dayPeriod\"); // AM / PM\n\n  hour = String(parseInt(hour, 10)); // إزالة الصفر من الساعة\n  return `${year}-${month}-${day}  ${hour}:${minute} ${dayPeriod}`;\n}\n\nconst now = new Date();\n\nreturn items\n  // فلترة العناصر الناقصة\n  .filter(item => {\n    const j = item?.json || {};\n    return required.every(k =>\n      Object.prototype.hasOwnProperty.call(j, k) &&\n      j[k] !== undefined &&\n      j[k] !== null &&\n      String(j[k]).trim() !== \"\"\n    );\n  })\n  // إضافة rowIndex + timestamp\n  .map((item, index) => {\n    if (!item.json) item.json = {};\n    if (!item.json.name) item.json.name = \"\";\n\n    item.json.rowIndex = index + 2; // +2 علشان الصف الأول فيه العناوين\n    item.json.timestamp = formatTimestampCairo(now);\n\n    return item;\n  });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1120
      ],
      "id": "45d5268f-9b3f-4bae-bf47-33532f90b48b",
      "name": "Code23"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, index) => {\n  item.json.rowIndex = index + 2; // +2 علشان الصف الأول فيه العناوين\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1424
      ],
      "id": "a4fab85c-60a6-478c-9541-e15abe1ca967",
      "name": "Code22"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Flatten + filter Facebook Daily Spend\n * - يتعامل مع items[].json.data[]\n * - يفلتر أي صف ناقص spend/date_start/date_stop\n * - يضيف rowIndex يبدأ من 2\n */\nconst required = [\"spend\", \"date_start\", \"date_stop\"];\n\nlet row = 2;\nconst out = [];\n\nfor (const it of items) {\n  const arr = it?.json?.data;\n  if (!Array.isArray(arr) || arr.length === 0) continue;\n\n  for (const j of arr) {\n    const ok = required.every(k =>\n      j[k] !== undefined && j[k] !== null && String(j[k]).trim() !== \"\"\n    );\n    if (!ok) continue;\n\n    if (typeof j.spend === \"string\") j.spend = Number(j.spend.replace(/,/g, \"\"));\n    j.rowIndex = row++;\n    out.push({ json: j });\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1424
      ],
      "id": "5b6a0706-80b5-408d-90fd-8d6b3f3a7f03",
      "name": "Code29"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Facebook Data Pull —Xlerate",
        "limit": 500
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1168,
        1216
      ],
      "id": "758b602c-95f2-4351-9143-3258d4e8a324",
      "name": "Get many sheet aligomarketing1",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Facebook Data Pull —Xlerate",
        "filters": {
          "conditions": [
            {
              "keyName": "Account name",
              "condition": "eq",
              "keyValue": "={{ $json.account_name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Daily spending",
              "fieldValue": "={{ $json.spend }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        1280
      ],
      "id": "19fa8599-449d-4f79-9281-6d44b5724b8e",
      "name": "Update Xlerate",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Facebook Data Pull —Xlerate",
        "filters": {
          "conditions": [
            {
              "keyName": "Account name",
              "condition": "eq",
              "keyValue": "={{ $json.account_name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Total spent",
              "fieldValue": "={{ $json.spend }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        1424
      ],
      "id": "e7b62669-13bb-42fd-a68a-6bf275422840",
      "name": "Update Xlerate 2",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Facebook Data Pull —Xlerate",
        "filters": {
          "conditions": [
            {
              "keyName": "Account ID",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Account name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "Status",
              "fieldValue": "={{ $json.Status }}"
            },
            {
              "fieldId": "Balance",
              "fieldValue": "={{ $json.balance }}"
            },
            {
              "fieldId": "Date",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "fieldId": "Available funds",
              "fieldValue": "={{ $json.funding_source_details.display_string }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        1120
      ],
      "id": "1dd1833b-3178-444a-9fc5-7f4febad3556",
      "name": "Update Xlerate 3",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "a3e07fcc-5724-492c-b27f-47522d452e74",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        64,
        944
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "__REDACTED_GOOGLE_SHEET_ID__",
          "mode": "list",
          "cachedResultName": "Abdo n8n Tracking Spending Targetspro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 16730066,
          "mode": "list",
          "cachedResultName": "Xlerate ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit#gid=16730066"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Account ID": "={{ $json['Account ID'] }}",
            "Account name Ads": "={{ $json['Account name'] }}",
            "Status": "={{ $json.Status }}",
            "Daily spending": "={{ $json['Daily spending'] }}",
            "Available funds": "={{ $json['Available funds'] }}",
            "Total spent": "={{ $json['Total spent'] }}",
            "Date": "={{ $json.Date }}",
            "Balance": "={{ $json.Balance }}"
          },
          "matchingColumns": [
            "Account ID"
          ],
          "schema": [
            {
              "id": "Working",
              "displayName": "Working",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account name ",
              "displayName": "Account name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account name Ads",
              "displayName": "Account name Ads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account ID",
              "displayName": "Account ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total spent",
              "displayName": "Total spent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily spending",
              "displayName": "Daily spending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Available funds",
              "displayName": "Available funds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Balance",
              "displayName": "Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "if",
              "displayName": "if",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client number",
              "displayName": "Client number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ecomerce",
              "displayName": "Ecomerce",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BM access",
              "displayName": "BM access",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ASSIGNED TO",
              "displayName": "ASSIGNED TO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        960
      ],
      "id": "a038da0b-bd95-478b-ac13-69c5cb92eb29",
      "name": "Append or update row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lexbktrcyr528ypY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -144,
        1440
      ],
      "id": "fbae6dcc-946e-4d1f-bb27-506424eabdaf",
      "name": "Wait1",
      "webhookId": "e5e773b5-7998-46b9-b42b-de66ff1ce7b6"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1808,
        1216
      ],
      "id": "6bd070c9-b271-4c6e-9540-3bc2229d3038",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -128,
        1280
      ],
      "id": "2a9cd925-e2ad-4784-bd4a-7bfe00906b3f",
      "name": "Wait",
      "webhookId": "e1a40c08-2ddc-47b0-9bf5-9797dac0df74"
    },
    {
      "parameters": {
        "jsCode": "// Format amount_spent and balance for readability\nreturn items.map(item => {\n  const data = item.json;\n\n  // معالجة balance\n  let balance = parseFloat(data.balance);\n  if (!isNaN(balance)) {\n    // حوله من micros للجنيه (حسب API)\n    balance = balance / 100; // استخدم 100 أو 10000 حسب تجربتك الواقعية\n    // عرض رقم مقروء بفواصل وعلامتين عشريتين\n    balance = balance.toLocaleString(\"en-US\", {\n      minimumFractionDigits: 2,\n      maximumFractionDigits: 2\n    });\n  }\n\n  // معالجة amount_spent\n  let amount_spent = parseFloat(data.amount_spent);\n  if (!isNaN(amount_spent)) {\n    amount_spent = amount_spent / 100;\n    amount_spent = amount_spent.toLocaleString(\"en-US\", {\n      minimumFractionDigits: 2,\n      maximumFractionDigits: 2\n    });\n  }\n\n  return {\n    json: {\n      ...data,\n      amount_spent,\n      balance\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1120
      ],
      "id": "5ed92403-2e08-488b-95c6-154a87d51c05",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "/**\n * تنسيق spend لإظهار الفواصل (مثل 1,502) بدون كسور عشرية\n */\n\nreturn items.map(item => {\n  const i = item.json;\n\n  if (i.spend !== undefined && i.spend !== null) {\n    const num = Number(i.spend);\n    // تحويل الرقم لفورمات 1,502 بدون كسور\n    i.spend = isNaN(num) ? i.spend : num.toLocaleString(\"en-US\", { \n      minimumFractionDigits: 0, \n      maximumFractionDigits: 0 \n    });\n  }\n\n  return { json: i };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1280
      ],
      "id": "26b13956-035f-4e33-b930-c13746b6bd46",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * تنسيق spend لإظهار الفواصل (مثل 1,502) بدون كسور عشرية\n */\n\nreturn items.map(item => {\n  const i = item.json;\n\n  if (i.spend !== undefined && i.spend !== null) {\n    const num = Number(i.spend);\n    // تحويل الرقم لفورمات 1,502 بدون كسور\n    i.spend = isNaN(num) ? i.spend : num.toLocaleString(\"en-US\", { \n      minimumFractionDigits: 0, \n      maximumFractionDigits: 0 \n    });\n  }\n\n  return { json: i };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1424
      ],
      "id": "3bf1ad76-4609-40d9-a566-f5e0fe6bb3fa",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// الكود ده بيفترض إنك بتستقبل البيانات في متغير items من النود السابق\n// وبيرتبهم حسب الـ id تصاعدياً\n\n// 1️⃣ انسخ الكود كامل\n// 2️⃣ الصقه في خانة JavaScript في النود\n// 3️⃣ شغّل النود\n\nconst sortedItems = items.sort((a, b) => {\n  const idA = Number(a.json.id);\n  const idB = Number(b.json.id);\n  return idA - idB; // لو عايز ترتيب تنازلي استخدم (idB - idA)\n});\n\nreturn sortedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        1216
      ],
      "id": "73fa0c19-2149-4481-b760-ca5e3e6de588",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Facebook Data Pull —Xlerate",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1968,
        1088
      ],
      "id": "27b78c1c-96b0-44b0-9a70-d3135b5d2b67",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "error": "The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Get many sheet aligomarketing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Spend": {
      "main": [
        [
          {
            "node": "Code29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API2": {
      "main": [
        [
          {
            "node": "Code23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Month3": {
      "main": [
        [
          {
            "node": "Code11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code13": {
      "main": [
        [
          {
            "node": "Update Xlerate 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code15": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code=> table1": {
      "main": [
        [
          {
            "node": "Send email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code24": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "code=> table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4.": {
      "main": [
        []
      ]
    },
    "Code23": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code29": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code22": {
      "main": [
        [
          {
            "node": "Update Xlerate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many sheet aligomarketing1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Xlerate 3": {
      "main": [
        [
          {
            "node": "Code24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Daily Spend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Month3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update Xlerate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "kxuiZpwsyj2HvuWD"
  },
  "versionId": "b407c1f8-db3d-4c0d-b510-6acd23d4ed3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b355d2ad0c64618c3e71763d60351bce2aa35360a978dd7122af838abfc1a96"
  },
  "id": "4J9C535sjDWaJqxq",
  "tags": []
}