Facebook Data Pull —Pasant.json
{
  "name": "Facebook Data Pull —Pasant",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// الوقت الحالي بتوقيت القاهرة\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'Africa/Cairo' }));\nconst yesterday = new Date(now);\nyesterday.setDate(now.getDate() - 1);\n\n// أول يوم في الشهر\nconst startOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\n\n// تنسيق التاريخ: yyyy-mm-dd\nfunction formatDate(d) {\n  const day = String(d.getDate()).padStart(2, '0');\n  const month = String(d.getMonth() + 1).padStart(2, '0');\n  const year = d.getFullYear();\n  return `${year}-${month}-${day}`;\n}\n\n// تنسيق الوقت: h:mm AM/PM\nfunction formatTime(d) {\n  let hours = d.getHours();\n  const minutes = String(d.getMinutes()).padStart(2, '0');\n  const ampm = hours >= 12 ? 'PM' : 'AM';\n\n  hours = hours % 12;\n  if (hours === 0) hours = 12;\n\n  return `${hours}:${minutes} ${ampm}`;\n}\n\n// nowFormatted بالشكل النهائي: \"2025-08-03   9:22 PM\"\nconst nowFormatted = formatDate(now) + '   ' + formatTime(now);\n\nreturn [\n  {\n    json: {\n      nowFormatted,                         // \"2025-08-03   9:22 PM\"\n      today: formatDate(now),              // \"2025-08-03\"\n      yesterday: formatDate(yesterday),    // \"2025-08-02\"\n      startOfMonth: formatDate(startOfMonth) // \"2025-08-01\"\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        1424
      ],
      "id": "e9de1eeb-e666-4e26-9873-e3321325885f",
      "name": "Code"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{ $json['Account ID'] }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "funding_source_details{display_string}"
              },
              {
                "name": "name"
              },
              {
                "name": "amount_spent"
              },
              {
                "name": "balance"
              },
              {
                "name": "account_status"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -384,
        1200
      ],
      "id": "662a73a7-7d94-4509-af60-61af97d6e7dd",
      "name": "Facebook Graph API1",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "x0GIizNGjoBNjkuZ",
          "name": "Facebook Graph account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "hostUrl": "=graph.facebook.com",
        "graphApiVersion": "v22.0",
        "node": "={{ $json['Account ID'] }}",
        "edge": "insights",
        "options": {
          "fields": {
            "field": [
              {
                "name": "spend,date_start,date_stop,account_id,account_name"
              }
            ]
          },
          "queryParameters": {
            "parameter": [
              {
                "name": "time_range[since]",
                "value": "={{ $('Code').item.json.yesterday }}"
              },
              {
                "name": "time_range[until]",
                "value": "={{ $('Code').item.json.yesterday }}"
              }
            ]
          },
          "queryParametersJson": "{\n  \"time_increment\": \"1\",\n  \"level\": \"account\"\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -320,
        1440
      ],
      "id": "0a9f4bf7-a3fe-49a5-88df-c2d7c3019991",
      "name": "Get Daily Spend3",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "x0GIizNGjoBNjkuZ",
          "name": "Facebook Graph account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $json['Account ID'] }}",
        "edge": "insights",
        "options": {
          "fields": {
            "field": [
              {
                "name": "spend,date_start,date_stop,account_id,account_name"
              }
            ]
          },
          "queryParameters": {
            "parameter": [
              {
                "name": "time_range[since]",
                "value": "={{ $('Code').item.json.startOfMonth }}"
              },
              {
                "name": "time_range[until]",
                "value": "={{ $('Code').item.json.today }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -304,
        1728
      ],
      "id": "a87c4de6-b654-4d5c-9fda-40cda93f5086",
      "name": "Month1",
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "x0GIizNGjoBNjkuZ",
          "name": "Facebook Graph account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Flatten Facebook API output\n * - يتعامل مع items[].json.data[]\n * - يفلتر أي صف ناقص spend أو account_name\n * - يضيف rowIndex يبدأ من 2\n */\n\nlet row = 2;\nconst out = [];\n\nfor (const item of items) {\n  const arr = item.json?.data;\n  if (!Array.isArray(arr) || arr.length === 0) continue;\n\n  for (const d of arr) {\n    if (!d.spend || !d.account_name) continue; // تجاهل الصفوف الناقصة\n\n    out.push({\n      json: {\n        account_name: d.account_name,\n        account_id: d.account_id || null,\n        spend: Number(d.spend) || 0,\n        date_start: d.date_start || null,\n        date_stop: d.date_stop || null,\n        rowIndex: row++\n      }\n    });\n  }\n}\n\nreturn out;;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        1440
      ],
      "id": "1a336e8f-1e27-466d-9cda-2d58b75b9039",
      "name": "Code6"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Flatten Facebook API output\n * - يتعامل مع items[].json.data[]\n * - يفلتر أي صف ناقص spend أو account_name\n * - يضيف rowIndex يبدأ من 2\n */\n\nlet row = 2;\nconst out = [];\n\nfor (const item of items) {\n  const arr = item.json?.data;\n  if (!Array.isArray(arr) || arr.length === 0) continue;\n\n  for (const d of arr) {\n    if (!d.spend || !d.account_name) continue; // تجاهل الصفوف الناقصة\n\n    out.push({\n      json: {\n        account_name: d.account_name,\n        account_id: d.account_id || null,\n        spend: Number(d.spend) || 0,\n        date_start: d.date_start || null,\n        date_stop: d.date_stop || null,\n        rowIndex: row++\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        1728
      ],
      "id": "a37ac165-a791-4a7b-a348-981e9a14dcb4",
      "name": "Code7"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const status = String(item.json.account_status).trim();\n\n  item.json.Status = status === \"1\" ? \"Active\" : \"Inactive\";\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        1200
      ],
      "id": "7da0a4a1-556f-4d14-9a97-ebe5cd3b8248",
      "name": "Code14"
    },
    {
      "parameters": {
        "content": "Pasant",
        "height": 112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        1312
      ],
      "typeVersion": 1,
      "id": "ba2692e8-a3ae-48a8-b793-f0cedb17e700",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "         code=>table   \nThis code generates a styled HTML table showing all ad accounts that require funding, based on filtered input data. It then sends the same table content via email to multiple recipients (__REDACTED_EMAIL_SET_IN_CONFIG__\n__REDACTED_EMAIL_SET_IN_CONFIG__\n__REDACTED_EMAIL_SET_IN_CONFIG__)\n\n",
        "height": 256,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        1104
      ],
      "typeVersion": 1,
      "id": "a2a7ee5f-723b-4b09-b7f4-0561320dd221",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const row = item.json;\n\n  // عدل على الأعمدة حسب اسم الشيت بتاعك\n  return row[\"Account name \"] || row[\"Account ID\"] || row[\"Available funds\"] || row[\"Date\"] || row[\"Status\"];\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        1424
      ],
      "id": "73b4b24d-19f7-4d1e-b34f-fd363ad08874",
      "name": "Code16"
    },
    {
      "parameters": {
        "jsCode": "// جدول HTML\nlet html = `\n<p>Dear Team,</p>\n<p>Below are the ad accounts that need funding:</p>\n\n<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\">\n  <tr>\n    <th>Account name</th>\n    <th>Account ID</th>\n    <th>Available funds</th>\n    <th>Date</th>\n    <th>Status</th>\n  </tr>\n`;\n\n// بيانات الفلاتر (أكاونتات محتاجة تمويل)\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json;\n\n  html += `\n    <tr>\n      <td>${row[\"Account name \"] || ''}</td>\n      <td>${row[\"Account ID\"] || ''}</td>\n      <td>${row[\"Available funds\"] || ''}</td>\n      <td>${row[\"Date\"] || ''}</td>\n      <td>${row[\"Status\"] || ''}</td>\n    </tr>\n  `;\n}\n\nhtml += '</table>';\n\n// الإيميلات اللي هتبعتلها\nconst emails = [\n  \"__REDACTED_EMAIL_SET_IN_CONFIG__\",\n  \"__REDACTED_EMAIL_SET_IN_CONFIG__\",\n  \"__REDACTED_EMAIL_SET_IN_CONFIG__\"\n];\n\n// نرجع HTML لكل إيميل\nreturn emails.map(email => {\n  return {\n    json: {\n      email: email,\n      html: html\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1184
      ],
      "id": "4365ba55-9097-436f-82cc-0d7e1ef9af61",
      "name": "code=> table3"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hour = now.getUTCHours() + 3; // تعديل للـ timezone\nconst adjustedHour = (hour + 24) % 24; // عشان ما يبقاش أكبر من 23 أو أقل من 0\n\nif (adjustedHour >= 9 && adjustedHour < 12) {\n  return [{ json: { send: true } }];\n} else {\n  return [{ json: { send: false } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1200
      ],
      "id": "de3f4852-e9c4-4409-aab7-a53a8cf853e2",
      "name": "Code26"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bfe0ffc-8f88-49e4-b7f2-5d599b880db9",
              "leftValue": "={{ $json.send }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        1200
      ],
      "id": "15bb732d-47fa-4ac1-b300-4c55448ad73a",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  let balanceStr = item.json[\"Available funds\"];\n  const threshold = parseFloat(item.json[\"if\"]);\n\n  if (!balanceStr || isNaN(threshold)) return false;\n\n  // استخراج الرقم من النص حتى لو فيه EGP وأقواس\n  const match = balanceStr.match(/EGP\\s*([\\d,]+\\.\\d{2})/);\n  if (!match) return false;\n\n  const balance = parseFloat(match[1].replace(/,/g, \"\"));\n  if (isNaN(balance)) return false;\n\n  return balance <= threshold;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1184
      ],
      "id": "48155f33-9321-4a71-9c14-33393169fe90",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "__REDACTED_GOOGLE_SHEET_ID__",
          "mode": "list",
          "cachedResultName": "Abdo n8n Tracking Spending Targetspro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1489833979,
          "mode": "list",
          "cachedResultName": "Pasant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit#gid=1489833979"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1568,
        1184
      ],
      "id": "46f3dc1a-fb09-42b1-95aa-0b099351834e",
      "name": "Get row(s) in sheet2.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lexbktrcyr528ypY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "Targetspro info@targetspro.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Urgent: Ad Accounts Need Funding",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2144,
        1184
      ],
      "id": "f27be0a7-a37a-4843-a50e-f299ec6659c1",
      "name": "Send email1",
      "webhookId": "8428a0b7-e845-47a2-af7e-f78a16dab087",
      "credentials": {
        "smtp": {
          "id": "TweDsn9rC0dnr1Pd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * يفلتر العناصر الناقصة، ويضيف rowIndex، وtimestamp بتوقيت القاهرة\n * بالصيغة: YYYY-MM-DD  h:mm AM/PM\n */\n\nconst required = [\"name\", \"amount_spent\", \"balance\"];\n\nfunction formatTimestampCairo(date) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: \"Africa/Cairo\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"numeric\",\n    minute: \"2-digit\",\n    hour12: true,\n  }).formatToParts(date);\n\n  const get = type => parts.find(p => p.type === type)?.value || \"\";\n  const year = get(\"year\");\n  const month = get(\"month\");\n  const day = get(\"day\");\n  let hour = get(\"hour\");\n  const minute = get(\"minute\");\n  const dayPeriod = get(\"dayPeriod\"); // AM / PM\n\n  hour = String(parseInt(hour, 10)); // إزالة الصفر من الساعة\n  return `${year}-${month}-${day}  ${hour}:${minute} ${dayPeriod}`;\n}\n\nconst now = new Date();\n\nreturn items\n  // فلترة العناصر الناقصة\n  .filter(item => {\n    const j = item?.json || {};\n    return required.every(k =>\n      Object.prototype.hasOwnProperty.call(j, k) &&\n      j[k] !== undefined &&\n      j[k] !== null &&\n      String(j[k]).trim() !== \"\"\n    );\n  })\n  // إضافة rowIndex + timestamp\n  .map((item, index) => {\n    if (!item.json) item.json = {};\n    if (!item.json.name) item.json.name = \"\";\n\n    item.json.rowIndex = index + 2; // +2 علشان الصف الأول فيه العناوين\n    item.json.timestamp = formatTimestampCairo(now);\n\n    return item;\n  });\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        1200
      ],
      "id": "c14bca11-99ac-4172-8814-acc84d8afaff",
      "name": "Code27"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Facebook Data Pull —Pasant",
        "limit": 500
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1344,
        1424
      ],
      "id": "f153d77c-4f5e-4cda-a50c-3dc3cc9f9ca3",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Facebook Data Pull —Pasant",
        "filters": {
          "conditions": [
            {
              "keyName": "Account ID",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Account name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "Status",
              "fieldValue": "={{ $json.Status }}"
            },
            {
              "fieldId": "Balance",
              "fieldValue": "={{ $json.balance }}"
            },
            {
              "fieldId": "Date",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "fieldId": "Available funds",
              "fieldValue": "={{ $json.funding_source_details.display_string }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        1184
      ],
      "id": "71aab556-d5f2-435c-97e9-48afa1c1dd1a",
      "name": "Update Pasant3",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Facebook Data Pull —Pasant",
        "filters": {
          "conditions": [
            {
              "keyName": "Account name",
              "condition": "eq",
              "keyValue": "={{ $json.account_name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Total spent",
              "fieldValue": "={{ $json.spend }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        1728
      ],
      "id": "269e2ecb-13b5-43a5-accd-ae771e1680bf",
      "name": "Update Pasant2",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Facebook Data Pull —Pasant",
        "filters": {
          "conditions": [
            {
              "keyName": "Account name",
              "condition": "eq",
              "keyValue": "={{ $json.account_name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Daily spending",
              "fieldValue": "={{ $json.spend }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        1440
      ],
      "id": "2e02ad22-a0bd-4d21-9bc3-cb4e4c0e64ca",
      "name": "Update Pasant 1",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "eab08379-c9e7-461b-93d1-e44b1dd6553c",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -912,
        1424
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "__REDACTED_GOOGLE_SHEET_ID__",
          "mode": "list",
          "cachedResultName": "Abdo n8n Tracking Spending Targetspro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1489833979,
          "mode": "list",
          "cachedResultName": "Pasant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit#gid=1489833979"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Account ID": "={{ $json['Account ID'] }}",
            "Account name Ads": "={{ $json['Account name'] }}",
            "Status": "={{ $json.Status }}",
            "Available funds": "={{ $json['Available funds'] }}",
            "Daily spending": "={{ $json['Daily spending'] }}",
            "Total spent": "={{ $json['Total spent'] }}",
            "Balance": "={{ $json.Balance }}",
            "Date": "={{ $json.Date }}"
          },
          "matchingColumns": [
            "Account ID"
          ],
          "schema": [
            {
              "id": "Working",
              "displayName": "Working",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account name ",
              "displayName": "Account name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account name Ads",
              "displayName": "Account name Ads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account ID",
              "displayName": "Account ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total spent",
              "displayName": "Total spent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily spending",
              "displayName": "Daily spending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Available funds",
              "displayName": "Available funds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Balance",
              "displayName": "Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "if",
              "displayName": "if",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client number",
              "displayName": "Client number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ecomerce",
              "displayName": "Ecomerce",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BM access",
              "displayName": "BM access",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ASSIGNED TO",
              "displayName": "ASSIGNED TO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        1200
      ],
      "id": "1ce12a9a-631e-479b-b1b9-896de1b06c64",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lexbktrcyr528ypY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1632,
        1424
      ],
      "id": "71e7b213-05e9-4cc3-abc9-4630133fed68",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -528,
        1728
      ],
      "id": "156ff208-5cad-4263-b18d-db61af06c6c1",
      "name": "Wait",
      "webhookId": "e7bbc813-2a6c-4749-a6a1-dbb1e0805803"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -496,
        1424
      ],
      "id": "330a7e2d-3b90-43cb-960a-f0c90252e484",
      "name": "Wait1",
      "webhookId": "396ddb7c-ae02-4245-b533-1129995b399f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        1728
      ],
      "id": "871f0ec3-2bbf-4ad6-b997-66ba5e2f491c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1056,
        1840
      ],
      "id": "3707ab20-08fc-4eb0-b140-ad40f460ecfa"
    },
    {
      "parameters": {
        "jsCode": "// Format amount_spent and balance for readability\nreturn items.map(item => {\n  const data = item.json;\n\n  // معالجة balance\n  let balance = parseFloat(data.balance);\n  if (!isNaN(balance)) {\n    // حوله من micros للجنيه (حسب API)\n    balance = balance / 100; // استخدم 100 أو 10000 حسب تجربتك الواقعية\n    // عرض رقم مقروء بفواصل وعلامتين عشريتين\n    balance = balance.toLocaleString(\"en-US\", {\n      minimumFractionDigits: 2,\n      maximumFractionDigits: 2\n    });\n  }\n\n  // معالجة amount_spent\n  let amount_spent = parseFloat(data.amount_spent);\n  if (!isNaN(amount_spent)) {\n    amount_spent = amount_spent / 100;\n    amount_spent = amount_spent.toLocaleString(\"en-US\", {\n      minimumFractionDigits: 2,\n      maximumFractionDigits: 2\n    });\n  }\n\n  return {\n    json: {\n      ...data,\n      amount_spent,\n      balance\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1200
      ],
      "id": "0e20057e-e0a5-4d10-805b-32d8a04539fa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "/**\n * تنسيق spend لإظهار الفواصل (مثل 1,502) بدون كسور عشرية\n */\n\nreturn items.map(item => {\n  const i = item.json;\n\n  if (i.spend !== undefined && i.spend !== null) {\n    const num = Number(i.spend);\n    // تحويل الرقم لفورمات 1,502 بدون كسور\n    i.spend = isNaN(num) ? i.spend : num.toLocaleString(\"en-US\", { \n      minimumFractionDigits: 0, \n      maximumFractionDigits: 0 \n    });\n  }\n\n  return { json: i };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1440
      ],
      "id": "59387c93-a6a4-40d4-b88b-d76e8f6ed59d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * تنسيق spend لإظهار الفواصل (مثل 1,502) بدون كسور عشرية\n */\n\nreturn items.map(item => {\n  const i = item.json;\n\n  if (i.spend !== undefined && i.spend !== null) {\n    const num = Number(i.spend);\n    // تحويل الرقم لفورمات 1,502 بدون كسور\n    i.spend = isNaN(num) ? i.spend : num.toLocaleString(\"en-US\", { \n      minimumFractionDigits: 0, \n      maximumFractionDigits: 0 \n    });\n  }\n\n  return { json: i };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        1728
      ],
      "id": "c9bbb7f4-8247-46c8-b721-c9144b717a61",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "// الكود ده بيفترض إنك بتستقبل البيانات في متغير items من النود السابق\n// وبيرتبهم حسب الـ id تصاعدياً\n\n// 1️⃣ انسخ الكود كامل\n// 2️⃣ الصقه في خانة JavaScript في النود\n// 3️⃣ شغّل النود\n\nconst sortedItems = items.sort((a, b) => {\n  const idA = Number(a.json.id);\n  const idB = Number(b.json.id);\n  return idA - idB; // لو عايز ترتيب تنازلي استخدم (idB - idA)\n});\n\nreturn sortedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        1424
      ],
      "id": "c0adf202-f610-4ba6-8a5c-d2d7bc69c6b3",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Code27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Spend3": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Month1": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code14": {
      "main": [
        [
          {
            "node": "Update Pasant3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code16": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code=> table3": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code26": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "code=> table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2.": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code27": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pasant3": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Code26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Month1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Daily Spend3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "Code16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pasant2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update Pasant 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update Pasant2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "kxuiZpwsyj2HvuWD"
  },
  "versionId": "0611557e-bcc9-41de-ba2d-f05c2cc2b214",
  "meta": {
    "instanceId": "0b355d2ad0c64618c3e71763d60351bce2aa35360a978dd7122af838abfc1a96"
  },
  "id": "tpreJAC2aaQe2HfW",
  "tags": []
}