Tiktok Data Pull —Tiktok accounts.json
{
  "name": "Tiktok Data Pull —Tiktok accounts",
  "nodes": [
    {
      "parameters": {
        "url": "=https://business-api.tiktok.com/open_api/v1.3/advertiser/info/\n\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "advertiser_ids",
              "value": "=[\"{{ $json.Advertiser_id }}\"]"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Access-Token",
              "value": "__REDACTED_ROTATE_IN_N8N_CREDENTIALS__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2832,
        -1728
      ],
      "id": "d1701297-6999-481f-9bc7-77ce40d44cdf",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e4d6fc7-672d-479b-a3d0-9959e780292f",
              "name": "name",
              "value": "={{ $json.data.list[0].name }}",
              "type": "string"
            },
            {
              "id": "7057121b-8b83-4b03-98ec-05d922cabab8",
              "name": "id",
              "value": "={{ $json.data.list[0].advertiser_id }}",
              "type": "string"
            },
            {
              "id": "7ee51ac3-a53a-4b00-b88c-a22013d496d2",
              "name": "balance",
              "value": "={{ $json.data.list[0].balance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        -1728
      ],
      "id": "c3f4d220-4240-4bae-92d9-0660e5257f5c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://business-api.tiktok.com/open_api/v1.3/advertiser/balance/get/\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "advertiser_ids",
              "value": "={{ $json.Advertiser_id }}"
            },
            {
              "name": "bc_id",
              "value": "={{ $json['BC-ID'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Access-Token",
              "value": "__REDACTED_ROTATE_IN_N8N_CREDENTIALS__"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1488,
        -1136
      ],
      "id": "bd6d3d51-c8e9-4431-bb85-75cd6fc08774",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "__REDACTED_GOOGLE_SHEET_ID__",
          "mode": "list",
          "cachedResultName": "Abdo n8n Tracking Spending Targetspro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 743791089,
          "mode": "list",
          "cachedResultName": "Tiktok accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit#gid=743791089"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3392,
        -1728
      ],
      "id": "8ec21060-0856-4212-b443-e7e845716fd2",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lexbktrcyr528ypY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "6617b98c-05e0-474b-8b9c-23cea0935607",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -3056,
        -1744
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2384,
        -1728
      ],
      "id": "6209160d-4c40-4ca7-ba53-a03501b8988d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        -2384,
        -1728
      ],
      "id": "7e423fb5-d0b5-433c-8a55-0c98db9a608c"
    },
    {
      "parameters": {
        "content": "    Tiktok accounts"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4000,
        -1328
      ],
      "typeVersion": 1,
      "id": "520722e5-a46e-4bff-87d6-1686b3686021",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "id": "2d89cc0f-6f40-4840-9c58-b2b1d745b65d",
      "name": "Split In Batches4",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -2272,
        -1136
      ]
    },
    {
      "parameters": {
        "jsCode": "const list = $json.data?.advertiser_account_list;\n\nif (Array.isArray(list) && list.length) {\n  // عندنا حسابات → رجّع Item لكل حساب\n  return list.map(a => ({\n    json: {\n      id: a.advertiser_id,\n      name: a.advertiser_name,\n      available_funds: a.account_balance,\n    }\n  }));\n}\n\n// مفيش حسابات → ما توقفش الفلو\n// خيار 1: مرّر نفس الـ input للي بعده\nreturn [{ json: $json }];\n\n// أو خيار 2 (بديل): رجّع Placeholder بنفس البنية المتوقعة\n// return [{ json: { id: null, name: null, available_funds: null, _note: 'empty advertiser_account_list', request_id: $json.request_id } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        -1136
      ],
      "id": "d158a237-44bd-4de8-8a2c-5fced9adbf96",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// هات كل الـ items اللي جاية من النود اللي قبلها\nconst items = $input.all();\n\n// فلترة: سيب بس اللي فيهم id موجود و available_funds مش undefined\nlet out = items.filter(i => i.json.id && i.json.available_funds !== undefined);\n\n// (اختياري) لو عايز كمان تشيل اللي رصيده = 0، استخدم السطر ده بدل اللي فوق:\n// let out = items.filter(i => i.json.id && i.json.available_funds !== undefined && i.json.available_funds > 0);\n\n// fallback عشان الـ workflow ما يوقفش لو اتشالوا كلهم\nif (out.length === 0) {\n  // إمّا ترجّع نفس الـ input\n  return items;\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -1120
      ],
      "id": "1112e0e9-7c00-45ae-9f30-07adeb91fd76",
      "name": "Code4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://business-api.tiktok.com/open_api/v1.3/report/integrated/get/\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Access-Token",
              "value": "__REDACTED_ROTATE_IN_N8N_CREDENTIALS__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"advertiser_id\": \"{{ $json.Advertiser_id }}\",\n  \"report_type\": \"BASIC\",\n  \"data_level\": \"AUCTION_CAMPAIGN\",\n  \"dimensions\": [\"stat_time_day\",\"campaign_id\"],\n  \"metrics\": [\"stat_cost\"],\n\n  \"start_date\": \"{{ (() => { const now=new Date(); const tz=d=>new Date(d.getTime()-d.getTimezoneOffset()*60000).toISOString().slice(0,10); return tz(new Date(now.getFullYear(), now.getMonth(), 1)); })() }}\",\n  \"end_date\":   \"{{ (() => { const now=new Date(); const tz=d=>new Date(d.getTime()-d.getTimezoneOffset()*60000).toISOString().slice(0,10); return tz(now); })() }}\",\n\n  \"page_size\": 1000\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1664,
        -1440
      ],
      "id": "c7fc07a3-cc26-46f7-a880-33f5c5ac072f",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ===== Helpers =====\nconst num  = v => { const n = parseFloat(v ?? 0); return isNaN(n) ? 0 : n; };\nconst tzFix = d => new Date(d.getTime() - d.getTimezoneOffset()*60000).toISOString().slice(0,10);\n\nconst now = new Date();\nconst monthStart = tzFix(new Date(now.getFullYear(), now.getMonth(), 1));\nconst today      = tzFix(now);\nconst yesterday  = tzFix(new Date(now.getFullYear(), now.getMonth(), now.getDate()-1));\n\n// ===== Get matching row from Sheets safely =====\nlet sheetItems = [];\ntry {\n  // هات كل الآيتيمز من نود الشيت (اسمها بالظبط زي ما ظاهر في النود)\n  sheetItems = $items('Get row(s) in sheet7') || [];\n} catch (e) {\n  sheetItems = [];\n}\n\n// لو عندك نفس عدد العناصر، طابق بالـ $itemIndex، وإلا خُد أول صف كـ fallback\nconst rowFromSheet =\n  (sheetItems[$itemIndex]?.json) ??\n  (sheetItems[0]?.json) ??\n  {};\n\nconst advId = String(\n  rowFromSheet.Advertiser_id ??\n  rowFromSheet.advertiser_id ??\n  ''\n).trim();\n\n// ===== Compute MTD / Yesterday from current HTTP item =====\nconst data = $json.data ?? {};\nlet mtd = 0, y = 0;\n\nif (data.total_metrics) {\n  mtd += num(data.total_metrics.stat_cost ?? data.total_metrics.spend);\n}\n\nconst rows = Array.isArray(data.list) ? data.list : [];\nfor (const r of rows) {\n  const day = (r.dimensions?.stat_time_day || '').slice(0,10);\n  const val = num(r.metrics?.stat_cost ?? r.metrics?.spend);\n  if (!day || day < monthStart || day > today) continue;\n  mtd += val;\n  if (day === yesterday) y += val;\n}\n\n// ===== Output one item =====\nreturn {\n  advertiser_id: advId || 'unknown',\n  mtd_spend: +mtd.toFixed(2),\n  yesterday_spend: +y.toFixed(2),\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        -1440
      ],
      "id": "09810d18-19be-4d7b-9361-9eb6a24001f8",
      "name": "Code9",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "488b1059-8118-4067-a44e-f265bdbcc20a",
      "name": "Split In Batches5",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -2128,
        -1440
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * يضيف rowIndex + timestamp بتوقيت القاهرة\n * timestamp: YYYY-MM-DD  h:mm AM/PM\n */\n\nfunction formatTimestampCairo(date) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: \"Africa/Cairo\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"numeric\",\n    minute: \"2-digit\",\n    hour12: true,\n  }).formatToParts(date);\n\n  const get = type => parts.find(p => p.type === type)?.value || \"\";\n  const year = get(\"year\");\n  const month = get(\"month\");\n  const day = get(\"day\");\n  let hour = get(\"hour\");\n  const minute = get(\"minute\");\n  const dayPeriod = get(\"dayPeriod\"); // AM / PM\n\n  hour = String(parseInt(hour, 10)); // إزالة الصفر من الساعة\n  return `${year}-${month}-${day}  ${hour}:${minute} ${dayPeriod}`;\n}\n\nreturn items.map((item, index) => {\n  if (!item.json) item.json = {};\n\n  // يبدأ من 1 + يضيف كلمة pro\n  item.json.rowIndex = `${index + 1}pro`;\n  item.json.timestamp = formatTimestampCairo(new Date());\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -1456
      ],
      "id": "2d278d4c-e65c-409d-a784-b9ebf44ae191",
      "name": "Code10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae21e9c0-9ecc-432f-91fd-f83b2411d595",
              "name": "row",
              "value": "={{ $json.rowIndex }}",
              "type": "string"
            },
            {
              "id": "d03370a2-0f4a-4a7a-9290-1524ee0f6931",
              "name": "date",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "d1ff9411-78f5-4035-9263-4df1a855e23b",
              "name": "Daily spending(yesterday)",
              "value": "={{ $json.yesterday_spend }}",
              "type": "string"
            },
            {
              "id": "a0aece62-b9e2-4783-97ff-1761a9e5a27d",
              "name": "Total spent(month)",
              "value": "={{ $json.mtd_spend }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -1456
      ],
      "id": "54f3677d-d7fc-406f-9e8f-bb1576d33e69",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "content": "        code3\nGive\n1- timestamp بتوقيت القاهره\n(2025-08-26 12:05 PM\n\n2- يعطي rowIndex لكل id \n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        -1504
      ],
      "typeVersion": 1,
      "id": "1d3a14a2-f007-47d3-863a-1383098af6e2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## I'm a note \nAvailable funds"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3248,
        -1232
      ],
      "typeVersion": 1,
      "id": "15ea37d3-b65f-4fbe-93d4-04b31607c06d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## I'm a note \nTotal spent , Daily spending",
        "height": 112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3168,
        -1504
      ],
      "typeVersion": 1,
      "id": "101b5755-a296-4976-a93a-6d4d10f8d58d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## I'm a note \nAccount name "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3296,
        -1824
      ],
      "typeVersion": 1,
      "id": "2aa9f2f1-8c6a-4665-a97e-8d28f3cab061",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1136,
        -1440
      ],
      "id": "26418370-9de8-47d1-9776-dc36a41ac495",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -912,
        -1376
      ],
      "id": "846cf156-ca7f-477e-9ac5-e5f638aa9fe3"
    },
    {
      "parameters": {
        "jsCode": "const ids = [\n  \"rec0h4tq6IvCf7uZC\",\n  \"recRFJN1yXOM5QYf7\"\n];\n\nreturn ids.map((id, index) => {\n  return {\n    json: {\n      row: `${index + 1}pro`,\n      recId: id\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -1632
      ],
      "id": "bcee45a6-df58-44ec-982f-99fb6bf04ba3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "/**\n * يضيف rowIndex + timestamp بتوقيت القاهرة\n * timestamp: YYYY-MM-DD  h:mm AM/PM\n */\n\nfunction formatTimestampCairo(date) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: \"Africa/Cairo\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"numeric\",\n    minute: \"2-digit\",\n    hour12: true,\n  }).formatToParts(date);\n\n  const get = type => parts.find(p => p.type === type)?.value || \"\";\n  const year = get(\"year\");\n  const month = get(\"month\");\n  const day = get(\"day\");\n  let hour = get(\"hour\");\n  const minute = get(\"minute\");\n  const dayPeriod = get(\"dayPeriod\"); // AM / PM\n\n  hour = String(parseInt(hour, 10)); // إزالة الصفر من الساعة\n  return `${year}-${month}-${day}  ${hour}:${minute} ${dayPeriod}`;\n}\n\nreturn items.map((item, index) => {\n  if (!item.json) item.json = {};\n\n  // يبدأ من 1 + يضيف كلمة pro\n  item.json.rowIndex = `${index + 1}pro`;\n  item.json.timestamp = formatTimestampCairo(new Date());\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -1120
      ],
      "id": "61feca4e-1ebe-43ec-9401-0bb2814edf3b",
      "name": "Code13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae21e9c0-9ecc-432f-91fd-f83b2411d595",
              "name": "row",
              "value": "={{ $json.rowIndex }}",
              "type": "string"
            },
            {
              "id": "d03370a2-0f4a-4a7a-9290-1524ee0f6931",
              "name": "date",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "b3130f50-389d-427d-b9a2-8f7c4aa41079",
              "name": "available funds",
              "value": "={{ $json.available_funds }}",
              "type": "string"
            },
            {
              "id": "ba65ab61-6a64-43f2-b55e-267be5716c8c",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -1120
      ],
      "id": "0696b76c-342f-4440-8f0d-cdacde96d30d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Tiktok accounts",
        "filters": {
          "conditions": [
            {
              "keyName": "row",
              "condition": "eq",
              "keyValue": "={{ $json.row }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Total spent",
              "fieldValue": "={{ $json['Total spent(month)'] }}"
            },
            {
              "fieldId": "Daily spending",
              "fieldValue": "={{ $json['Daily spending(yesterday)'] }}"
            },
            {
              "fieldId": "Date",
              "fieldValue": "={{ $json.date }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -176,
        -1456
      ],
      "id": "c299a35d-4aa1-479d-a7af-93e487d3a812",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "__REDACTED_GOOGLE_SHEET_ID__",
          "mode": "list",
          "cachedResultName": "Abdo n8n Tracking Spending Targetspro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 487663108,
          "mode": "list",
          "cachedResultName": "Tiktok accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/__REDACTED_GOOGLE_SHEET_ID__/edit#gid=487663108"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Advertiser_id": "={{ $json.Advertiser_id }}",
            "Total spent": "={{ $json['Total spent'] }}",
            "Daily spending": "={{ $json['Daily spending'] }}",
            "Available funds": "={{ $json['Available funds'] }}",
            "Date": "={{ $json.Date }}"
          },
          "matchingColumns": [
            "Advertiser_id"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Account name ",
              "displayName": "Account name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "BC-ID",
              "displayName": "BC-ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Advertiser_id",
              "displayName": "Advertiser_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total spent",
              "displayName": "Total spent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily spending",
              "displayName": "Daily spending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Available funds",
              "displayName": "Available funds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Access",
              "displayName": "Access",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -1136
      ],
      "id": "9299125b-7aba-4f56-9062-53c2fd0af2f8",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9PUgwh80SUwrYQ0o",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Tiktok accounts",
        "filters": {
          "conditions": [
            {
              "keyName": "Account name",
              "condition": "eq",
              "keyValue": "={{ $json.name }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldId": "Available funds",
              "fieldValue": "={{ $json['available funds'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        -1088
      ],
      "id": "2103101d-398e-408b-818c-cbe2627bec27",
      "name": "Update a row4",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Tiktok accounts"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        -1104
      ],
      "id": "9aacad22-af20-4d48-a975-1c72ed145268",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Tiktok accounts",
        "limit": 500
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3120,
        -1456
      ],
      "id": "929cca23-508d-4d3e-810c-d568bc981ff5",
      "name": "Get many rows2",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Tiktok accounts",
        "limit": 500
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3152,
        -1152
      ],
      "id": "dc6bd385-9038-4f73-9480-2d39023ced41",
      "name": "Get many rows3",
      "credentials": {
        "supabaseApi": {
          "id": "lFpI1xaNAWw9fNa4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        -1120
      ],
      "id": "df8b9072-40ca-4faf-b583-b134251d879d",
      "name": "Loop Over Items6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me6",
      "typeVersion": 1,
      "position": [
        -160,
        -976
      ],
      "id": "1a43f8cd-8028-4c22-8258-05777d8d954d"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 🧩 دالة لاستخراج الرقم من النص (زي \"13pro\" → 13)\nconst extractNumber = (str) => {\n  if (!str) return 0;\n  const match = String(str).match(/\\d+/);\n  return match ? parseInt(match[0]) : 0;\n};\n\n// 🔢 نرتب العناصر حسب الرقم المستخرج من \"row\"\nitems.sort((a, b) => extractNumber(a.json.row) - extractNumber(b.json.row));\n\n// 🎯 نرجع العناصر المرتبة\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2816,
        -1456
      ],
      "id": "1c3802e4-afb3-4941-9650-f6bd3bd405bd",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 🧩 دالة لاستخراج الرقم من النص (زي \"13pro\" → 13)\nconst extractNumber = (str) => {\n  if (!str) return 0;\n  const match = String(str).match(/\\d+/);\n  return match ? parseInt(match[0]) : 0;\n};\n\n// 🔢 نرتب العناصر حسب الرقم المستخرج من \"row\"\nitems.sort((a, b) => extractNumber(a.json.row) - extractNumber(b.json.row));\n\n// 🎯 نرجع العناصر المرتبة\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2736,
        -1136
      ],
      "id": "147145fb-f964-41d3-a379-9a846cf1b3c2",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://business-api.tiktok.com/open_api/v1.3/advertiser/balance/get/\n\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "advertiser_ids",
              "value": "[\"7378858941163667472\"]"
            },
            {
              "name": "bc_id",
              "value": "[\"7378868426380427281\"]"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Access-Token",
              "value": "__REDACTED_ROTATE_IN_N8N_CREDENTIALS__"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2464,
        -1344
      ],
      "id": "c42bb44c-74b1-4bb1-abe5-cd48ed095ada",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "jsCode": "/**\n * تنسيق available_funds لإظهار الفواصل (مثل 55,158)\n */\n\nreturn items.map(item => {\n  const i = item.json;\n\n  if (i.available_funds !== undefined && i.available_funds !== null) {\n    const num = Number(i.available_funds);\n    // تنسيق بدون كسور عشرية\n    i.available_funds = isNaN(num)\n      ? i.available_funds\n      : num.toLocaleString(\"en-US\", {\n          minimumFractionDigits: 0,\n          maximumFractionDigits: 0\n        });\n  }\n\n  return { json: i };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -1136
      ],
      "id": "937d469b-5fba-44d6-9189-1d15d3595b9d",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1872,
        -1440
      ],
      "id": "e2e8f15e-d842-4bbf-b052-77f79c1053e5",
      "name": "Wait",
      "webhookId": "d91d694d-b6a9-4e43-b264-40237e576d8a"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1936,
        -1136
      ],
      "id": "7baeef9d-1e2a-40ac-aa1a-89da5d5cd5f5",
      "name": "Wait1",
      "webhookId": "a3903157-41d3-49e6-ab70-140b95eabbcc"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3376,
        -1136
      ],
      "id": "9b3834c6-d50b-4e20-9f5a-a128c9ba84e2",
      "name": "Wait2",
      "webhookId": "c07ceea1-7b88-4495-8d14-7e1258c8e8ad"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4176,
        -1376
      ],
      "id": "1f646264-beeb-4d9a-a3d5-9142e750f2e3",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches4": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Code13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches5": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Split In Batches5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code13": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a row4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        []
      ]
    },
    "Update a row4": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows3": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split In Batches4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me6": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split In Batches5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Split In Batches4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get many rows3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many rows2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "kxuiZpwsyj2HvuWD",
    "availableInMCP": false
  },
  "versionId": "5b704c68-8a3a-4024-9074-717c8d5cc836",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b355d2ad0c64618c3e71763d60351bce2aa35360a978dd7122af838abfc1a96"
  },
  "id": "nDb5AZDWqMzcH9DS",
  "tags": []
}