n8n-workflows/tiktok-ingestion-2.json
{
  "id": "0aacf7e6-a9d7-41cd-bdba-08e0ee545413",
  "name": "TikTok Ingestion 2",
  "versionId": "02-02-tiktok-ingestion-2",
  "active": false,
  "settings": {
    "timezone": "Africa/Cairo",
    "saveExecutionProgress": true,
    "executionOrder": "v1",
    "errorWorkflow": "controller-error-handler"
  },
  "tags": [
    "tiktok",
    "ingestion",
    "token-group-2"
  ],
  "nodes": [
    {
      "id": "c349f673-138b-4971-bc35-f2e501a581b3",
      "name": "Execute Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        100
      ],
      "parameters": {
        "inputDataMode": "define",
        "fields": [
          {
            "fieldId": "org_id",
            "fieldLabel": "Organization ID",
            "fieldType": "string",
            "required": true,
            "defaultValue": "00000000-0000-0000-0000-000000000001"
          },
          {
            "fieldId": "pipeline_name",
            "fieldLabel": "Pipeline Name",
            "fieldType": "string",
            "required": true,
            "defaultValue": "tiktok_ingestion_2"
          }
        ]
      }
    },
    {
      "id": "8b4e833d-75b2-4e09-8cc1-c711a4fc8dd9",
      "name": "Compute Cairo Dates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        0
      ],
      "parameters": {
        "language": "javascript",
        "jsCode": "const { DateTime } = require('luxon');\nconst cairo = DateTime.now().setZone('Africa/Cairo');\nconst today = cairo.toFormat('yyyy-MM-dd');\nconst yesterday = cairo.minus({ days: 1 }).toFormat('yyyy-MM-dd');\nconst startOfMonth = cairo.startOf('month').toFormat('yyyy-MM-dd');\nreturn [{ json: { today, yesterday, startOfMonth, cairoTimestamp: cairo.toISO() } }];"
      }
    },
    {
      "id": "9a379f0b-4563-4cb2-b9b6-ecbfcc7cfa26",
      "name": "Create Pipeline Run",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        120
      ],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "pipeline_runs",
        "columns": [
          {
            "column": "org_id",
            "value": "={{ $json.org_id }}"
          },
          {
            "column": "pipeline_name",
            "value": "={{ $json.pipeline_name || 'tiktok_ingestion_2' }}"
          },
          {
            "column": "status",
            "value": "running"
          },
          {
            "column": "accounts_processed",
            "value": "0"
          },
          {
            "column": "accounts_failed",
            "value": "0"
          },
          {
            "column": "metadata",
            "value": "={{ JSON.stringify({ triggered_by: 'controller', n8n_execution_id: $execution.id }) }}"
          }
        ],
        "returnColumns": "id,status"
      },
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "id": "9b6b89c4-e24d-421e-ae9d-8d1327244f53",
      "name": "Fetch Active TikTok Accounts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        120
      ],
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "ad_accounts",
        "returnAll": true,
        "columns": [
          "id",
          "org_id",
          "platform_id",
          "platform_account_id",
          "account_name",
          "business_manager",
          "metadata"
        ],
        "filters": [
          {
            "column": "org_id",
            "operator": "equals",
            "value": "={{ $('Execute Sub-workflow Trigger').item.json.org_id }}"
          },
          {
            "column": "platform_id",
            "operator": "equals",
            "value": "tiktok"
          },
          {
            "column": "status",
            "operator": "equals",
            "value": "active"
          },
          {
            "column": "metadata->>token_group",
            "operator": "equals",
            "value": "2"
          }
        ]
      },
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "id": "f24ce56a-032d-4632-af51-f4bf794cf797",
      "name": "Split Accounts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        60,
        120
      ],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "ee00f7f3-e388-48cb-8c5d-961c277aa187",
      "name": "Fetch Advertiser Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        320,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "https://business-api.tiktok.com/open_api/v1.3/advertiser/info/",
        "responseFormat": "json",
        "jsonParameters": false,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "advertiser_ids",
              "value": "={{ JSON.stringify([$json.platform_account_id]) }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "allowUnauthorizedCerts": false
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TikTok Token Group 2"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "f2ee3a04-759a-499c-96f1-e0990ac562c8",
      "name": "Fetch Advertiser Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        540,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "https://business-api.tiktok.com/open_api/v1.3/advertiser/balance/get/",
        "responseFormat": "json",
        "jsonParameters": false,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "advertiser_ids",
              "value": "={{ $json.platform_account_id }}"
            },
            {
              "name": "bc_id",
              "value": "={{ $json.metadata?.bc_id || '' }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TikTok Token Group 2"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "92c5e107-c6fe-4d29-a23a-4a1dcd549580",
      "name": "Fetch Daily Spend Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "https://business-api.tiktok.com/open_api/v1.3/report/integrated/get/",
        "responseFormat": "json",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "advertiser_id",
              "value": "={{ $json.platform_account_id }}"
            },
            {
              "name": "report_type",
              "value": "BASIC"
            },
            {
              "name": "data_level",
              "value": "AUCTION_ADVERTISER"
            },
            {
              "name": "dimensions",
              "value": "={{ JSON.stringify(['stat_time_day']) }}"
            },
            {
              "name": "metrics",
              "value": "={{ JSON.stringify(['spend']) }}"
            },
            {
              "name": "start_date",
              "value": "={{ $('Compute Cairo Dates').item.json.yesterday }}"
            },
            {
              "name": "end_date",
              "value": "={{ $('Compute Cairo Dates').item.json.yesterday }}"
            },
            {
              "name": "page_size",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TikTok Token Group 2"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "4373de24-abc7-4efc-9c73-f0ca3eb75716",
      "name": "Fetch MTD Spend Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        -80
      ],
      "parameters": {
        "method": "GET",
        "url": "https://business-api.tiktok.com/open_api/v1.3/report/integrated/get/",
        "responseFormat": "json",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "advertiser_id",
              "value": "={{ $json.platform_account_id }}"
            },
            {
              "name": "report_type",
              "value": "BASIC"
            },
            {
              "name": "data_level",
              "value": "AUCTION_ADVERTISER"
            },
            {
              "name": "dimensions",
              "value": "={{ JSON.stringify(['stat_time_day']) }}"
            },
            {
              "name": "metrics",
              "value": "={{ JSON.stringify(['spend']) }}"
            },
            {
              "name": "start_date",
              "value": "={{ $('Compute Cairo Dates').item.json.startOfMonth }}"
            },
            {
              "name": "end_date",
              "value": "={{ $('Compute Cairo Dates').item.json.today }}"
            },
            {
              "name": "page_size",
              "value": "100"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "TikTok Token Group 2"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "c0eb90b4-580d-4fb9-83d0-c54d85f41f12",
      "name": "Normalize TikTok Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -80
      ],
      "parameters": {
        "language": "javascript",
        "jsCode": "const triggerInput = $items('Execute Sub-workflow Trigger', 0, 0)[0].json;\nconst pipelineRun = $items('Create Pipeline Run', 0, 0)[0].json;\nconst dates = $('Compute Cairo Dates').item.json;\nconst account = $json;\nconst info = $('Fetch Advertiser Info').item.json;\nconst balanceResponse = $('Fetch Advertiser Balance').item.json;\nconst dailyReport = $('Fetch Daily Spend Report').item.json;\nconst mtdReport = $('Fetch MTD Spend Report').item.json;\n\nfunction sumSpend(report) {\n  const rows = report?.data?.list || report?.list || [];\n  return rows.reduce((sum, row) => sum + Number(row.spend ?? 0), 0);\n}\n\nconst advertiser = (info?.data?.list || info?.list || [])[0] || {};\nconst balanceEntry = (balanceResponse?.data?.list || balanceResponse?.list || [])[0] || {};\nconst availableFunds = balanceEntry.available_balance_text || balanceEntry.available_balance || null;\nconst result = {\n  org_id: triggerInput.org_id || '00000000-0000-0000-0000-000000000001',\n  ad_account_id: account.id,\n  pipeline_name: triggerInput.pipeline_name || 'tiktok_ingestion_2',\n  pipeline_run_id: pipelineRun.id,\n  platform_account_id: account.platform_account_id,\n  account_name: account.account_name,\n  business_manager: account.business_manager,\n  metadata: account.metadata || {},\n  cairo_date: dates.today,\n  cairo_timestamp: dates.cairoTimestamp,\n  status: advertiser.status === 'STATUS_ENABLE' ? 'active' : 'disabled',\n  balance: Number(balanceEntry.balance ?? 0),\n  available_funds: availableFunds,\n  daily_spend: sumSpend(dailyReport),\n  mtd_spend: sumSpend(mtdReport),\n  raw_data: { advertiser_info: info, balance_response: balanceResponse, daily_report: dailyReport, mtd_report: mtdReport },\n  success: true,\n  error: null\n};\n\nconst encounteredErrors = [];\nif (info?.error || info?.code >= 400) {\n  encounteredErrors.push(`Advertiser info error: ${info?.error?.message || info?.message || info?.code}`);\n}\nif (balanceResponse?.error || balanceResponse?.code >= 400) {\n  encounteredErrors.push(`Balance error: ${balanceResponse?.error?.message || balanceResponse?.message || balanceResponse?.code}`);\n}\nif (dailyReport?.error || dailyReport?.code >= 400) {\n  encounteredErrors.push(`Daily spend error: ${dailyReport?.error?.message || dailyReport?.message || dailyReport?.code}`);\n}\nif (mtdReport?.error || mtdReport?.code >= 400) {\n  encounteredErrors.push(`MTD spend error: ${mtdReport?.error?.message || mtdReport?.message || mtdReport?.code}`);\n}\n\nif (!account.id) {\n  encounteredErrors.push('Missing ad_account_id from Supabase fetch.');\n}\n\nif (encounteredErrors.length) {\n  result.success = false;\n  result.error = encounteredErrors.join(' | ');\n}\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "2bf3b4ba-afa0-4a8e-8d15-69543bc85d3c",
      "name": "Success Branch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        -80
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}"
            }
          ]
        }
      }
    },
    {
      "id": "02798088-fde5-4085-80fe-836131748978",
      "name": "Upsert spend_records",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1660,
        -200
      ],
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "spend_records",
        "onConflict": "ad_account_id,date",
        "columns": [
          {
            "column": "org_id",
            "value": "={{ $json.org_id }}"
          },
          {
            "column": "ad_account_id",
            "value": "={{ $json.ad_account_id }}"
          },
          {
            "column": "date",
            "value": "={{ $json.cairo_date }}"
          },
          {
            "column": "daily_spend",
            "value": "={{ $json.daily_spend }}"
          },
          {
            "column": "mtd_spend",
            "value": "={{ $json.mtd_spend }}"
          },
          {
            "column": "currency",
            "value": "EGP"
          },
          {
            "column": "raw_data",
            "value": "={{ JSON.stringify($json.raw_data) }}"
          },
          {
            "column": "pipeline_run_id",
            "value": "={{ $json.pipeline_run_id }}"
          }
        ]
      },
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "id": "5bdcf207-b47c-43c9-9f01-33add5791c9b",
      "name": "Insert balance_snapshots",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1880,
        -80
      ],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "balance_snapshots",
        "columns": [
          {
            "column": "org_id",
            "value": "={{ $json.org_id }}"
          },
          {
            "column": "ad_account_id",
            "value": "={{ $json.ad_account_id }}"
          },
          {
            "column": "balance",
            "value": "={{ $json.balance }}"
          },
          {
            "column": "available_funds",
            "value": "={{ $json.available_funds }}"
          },
          {
            "column": "currency",
            "value": "EGP"
          },
          {
            "column": "captured_at",
            "value": "={{ $json.cairo_timestamp }}"
          },
          {
            "column": "pipeline_run_id",
            "value": "={{ $json.pipeline_run_id }}"
          }
        ]
      },
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "id": "75324c67-97dc-4518-a50e-cb6709303c1e",
      "name": "Update Legacy TikTok Table",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2100,
        100
      ],
      "parameters": {
        "operation": "upsert",
        "schema": "public",
        "table": "tiktok2",
        "onConflict": "Advertiser_id",
        "columns": [
          {
            "column": "Advertiser_id",
            "value": "={{ $json.platform_account_id }}"
          },
          {
            "column": "Advertiser name",
            "value": "={{ $json.account_name }}"
          },
          {
            "column": "Available funds",
            "value": "={{ $json.available_funds || '' }}"
          },
          {
            "column": "Daily spending",
            "value": "={{ $json.daily_spend }}"
          },
          {
            "column": "Status",
            "value": "={{ $json.status }}"
          },
          {
            "column": "BC-ID",
            "value": "={{ $json.metadata?.bc_id || null }}"
          },
          {
            "column": "pipeline_run_id",
            "value": "={{ $json.pipeline_run_id }}"
          },
          {
            "column": "updated_at",
            "value": "={{ $json.cairo_timestamp }}"
          }
        ]
      },
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "id": "db69a1f6-ccbe-4925-92e9-45e453320656",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        360
      ],
      "parameters": {
        "language": "javascript",
        "jsCode": "const pipelineRun = $items('Create Pipeline Run', 0, 0)[0].json;\nconst processed = $items('Normalize TikTok Data', 0, 0);\nlet accountsProcessed = 0;\nlet accountsFailed = 0;\nconst errorLog = {};\n\nfor (const item of processed) {\n  if (!item) continue;\n  const payload = item.json;\n  if (payload.success) {\n    accountsProcessed += 1;\n  } else {\n    accountsFailed += 1;\n    const key = payload.platform_account_id || payload.ad_account_id || `unknown-${accountsFailed}`;\n    errorLog[key] = payload.error || 'Unknown error';\n  }\n}\n\nconst status = accountsFailed === 0 ? 'success' : (accountsProcessed > 0 ? 'partial' : 'failed');\nreturn [{ json: { pipeline_run_id: pipelineRun.id, status, accounts_processed: accountsProcessed, accounts_failed: accountsFailed, error_log: Object.keys(errorLog).length ? errorLog : null } }];"
      }
    },
    {
      "id": "e906439f-9ecd-4ae9-910c-e504d41c98a7",
      "name": "Finalize Pipeline Run",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        360
      ],
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "pipeline_runs",
        "filters": [
          {
            "column": "id",
            "operator": "equals",
            "value": "={{ $json.pipeline_run_id }}"
          }
        ],
        "columns": [
          {
            "column": "status",
            "value": "={{ $json.status }}"
          },
          {
            "column": "completed_at",
            "value": "={{ $now.toISO() }}"
          },
          {
            "column": "accounts_processed",
            "value": "={{ $json.accounts_processed }}"
          },
          {
            "column": "accounts_failed",
            "value": "={{ $json.accounts_failed }}"
          },
          {
            "column": "error_log",
            "value": "={{ JSON.stringify($json.error_log) }}"
          }
        ]
      },
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Service Role"
        }
      }
    }
  ],
  "connections": {
    "Execute Sub-workflow Trigger": {
      "main": [
        [
          {
            "node": "Compute Cairo Dates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Pipeline Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Cairo Dates": {
      "main": [
        [
          {
            "node": "Create Pipeline Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pipeline Run": {
      "main": [
        [
          {
            "node": "Fetch Active TikTok Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active TikTok Accounts": {
      "main": [
        [
          {
            "node": "Split Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Accounts": {
      "main": [
        [
          {
            "node": "Fetch Advertiser Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Advertiser Info": {
      "main": [
        [
          {
            "node": "Fetch Advertiser Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Advertiser Balance": {
      "main": [
        [
          {
            "node": "Fetch Daily Spend Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Daily Spend Report": {
      "main": [
        [
          {
            "node": "Fetch MTD Spend Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MTD Spend Report": {
      "main": [
        [
          {
            "node": "Normalize TikTok Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize TikTok Data": {
      "main": [
        [
          {
            "node": "Success Branch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Branch?": {
      "main": [
        [
          {
            "node": "Upsert spend_records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert spend_records": {
      "main": [
        [
          {
            "node": "Insert balance_snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert balance_snapshots": {
      "main": [
        [
          {
            "node": "Update Legacy TikTok Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Legacy TikTok Table": {
      "main": [
        [
          {
            "node": "Split Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Finalize Pipeline Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
